In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[1,2,3,4],[5,6,7,8]])

In [8]:
df1

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  1  2  3  4
3  5  6  7  8

In [9]:
df1.head()

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  1  2  3  4
3  5  6  7  8

In [10]:
df.head(2)

Empty DataFrame
Columns: []
Index: []

In [11]:
df.tail(1)

Empty DataFrame
Columns: []
Index: []

In [12]:
df.tail()

Empty DataFrame
Columns: []
Index: []

In [13]:
df1.head()

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  1  2  3  4
3  5  6  7  8

In [14]:
df1.head(2)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [15]:
df1.tail(2)

   0  1  2  3
2  1  2  3  4
3  5  6  7  8

# Slicing

In [16]:
df1.shape

(4, 4)

In [17]:
df1.iloc[2,2]

3

In [18]:
df1.iloc[0:2,1:3]

   1  2
0  2  3
1  6  7

In [19]:
df1

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  1  2  3  4
3  5  6  7  8

In [20]:
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[1,2,3,4],[5,6,7,8]],columns=['A','B','C','D'])

In [21]:
df1

   A  B  C  D
0  1  2  3  4
1  5  6  7  8
2  1  2  3  4
3  5  6  7  8

# Reading a CSV

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('sec_bhavdata_full.csv')

In [3]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,03-Mar-2020,31.15,31.20,32.25,30.85,31.10,31.10,31.33,13324,4.17,180,8542,64.11
1,21STCENMGM,EQ,03-Mar-2020,12.10,11.90,12.30,11.90,12.30,12.30,12.21,64,0.01,5,63,98.44
2,3IINFOTECH,EQ,03-Mar-2020,1.90,1.95,1.95,1.80,1.95,1.95,1.88,1984345,37.34,880,1181653,59.55
3,3MINDIA,EQ,03-Mar-2020,20131.65,20470.00,20995.00,20312.00,20636.00,20632.95,20663.50,7108,1468.76,2360,3048,42.88
4,3PLAND,EQ,03-Mar-2020,4.50,4.50,4.50,4.50,4.50,4.50,4.50,110,0.00,3,110,100.00

In [4]:
df.shape

(1958, 15)

In [5]:
df['SYMBOL']

0        20MICRONS
1       21STCENMGM
2       3IINFOTECH
3          3MINDIA
4           3PLAND
           ...
1953     ZODJRDMKJ
1954          ZOTA
1955         ZUARI
1956     ZUARIGLOB
1957     ZYDUSWELL
Name: SYMBOL, Length: 1958, dtype: object

In [6]:
df['SYMBOL'].dtype

dtype('O')

In [7]:
df['PREV_CLOSE']

KeyError: 'PREV_CLOSE'

In [8]:
df[' PREV_CLOSE']

0          31.15
1          12.10
2           1.90
3       20131.65
4           4.50
          ...
1953       29.75
1954      172.65
1955       77.70
1956       44.60
1957     1438.95
Name:  PREV_CLOSE, Length: 1958, dtype: float64

In [9]:
df[' PREV_CLOSE'].dtype

dtype('float64')

# Merging DataFrames

In [22]:
df1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C'])

In [23]:
df1

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
df2=pd.DataFrame([[11,81,13],[14,5,16],[17,90,19]],columns=['X','Y','Z'])

In [45]:
df2

    X   Y   Z
0  11  81  13
1  14   5  16
2  17  90  19

In [46]:
df3=pd.merge(df1,df2,right_on='Y',left_on='B')

In [47]:
df3

   A  B  C   X  Y   Z
0  4  5  6  14  5  16

# Working with JSON

In [48]:
import json

In [49]:
json_data='{"a":1,"b":2,"c":3}'

In [50]:
x=json.loads(json_data)

In [51]:
x

{'a': 1, 'b': 2, 'c': 3}

In [52]:
type(x)

dict

In [53]:
x['a']

1